button {
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  font-family: var(--font-family-nokora);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-700);
  line-height: 1;
  text-align: start;
  white-space: nowrap;

  background-color: var(--background-color-light-yellow);
  cursor: pointer;

  transition:
    background-color 0.25s ease,
    transform 0.25s ease;

  svg {
    display: block;
    width: 0;
    height: 20px;

    opacity: 0;
    overflow: hidden;
    transform: translateX(-8px);

    transition:
      width 0.25s ease,
      opacity 0.25s ease,
      transform 0.25s ease;
  }

  &:hover {
    background-color: var(--background-color-deep-yellow);
    transform: translateY(-2px);

    svg {
      width: 20px;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (max-width: 800px) {
  button {
    background-color: var(--background-color-deep-yellow);

    svg {
      width: 20px;
      opacity: 1;
      transform: translateX(0);
    }
  }
}