.survey-card {
  width: 321px;
  height: 310px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-light-grey);
  border-top-right-radius: 80px;

  color: var(--font-color-dark-purple);
  font-family: var(--font-family-Mulish);
  cursor: pointer;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--background-color-light-purple);
  }
}

.survey-card__content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 40px 32px 32px;
  box-sizing: border-box;
}

.survey-card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.survey-card__title {
  font-size: var(--font-size-14);
}

.survey-card__description {
  font-size: var(--font-size-24);
}