:host {
  display: block;
  background-color: white;
}

.survey {
  background-color: white;
  padding-top: 40px;
  padding-left: 110px;
  padding-right: 110px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
}

.survey-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.survey-answer-container {
  height: auto;
  width: 60%;
  display: flex;
  align-items: end;
  gap: 10px;
}

.survey-answers {
  height: 725px;
  width: 702px;
  background-color: rgba(142, 112, 153, 0.1);
  border-radius: 5px;
  border-top-right-radius: 150px;
  padding: 40px;
}

.completeSurvey {
  grid-column: 2;
  display: flex;
  align-items: end;
  justify-content: end;
}

.survey-answer-info {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-Mulish);
  font-size: var(--font-size-14);
  margin-right: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.survey-headline {
  margin-bottom: 40px;

  p {
    font-family: var(--font-family-NerkoOne);
    font-size: 56px;
    color: var(--font-color-deep-yellow);
    margin: 0px;
  }

  p:last-of-type {
    font-family: var(--font-family-Mulish);
    font-size: var(--font-size-16);
    color: var(--font-color-dark-purple);
  }
}

.survey-answer-list {
  width: 100%;
  height: 535px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.survey-results {
  height: auto;
  width: 320px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.survey-results-headline {
  font-family: var(--font-family-NerkoOne);
  font-size: var(--font-size-32);

  p {
    color: var(--font-color-dark-purple);
    margin: 0px;
  }

  span {
    color: var(--font-color-deep-yellow);
    margin: 0px;
  }
  
}

.no-results {
  font-family: var(--font-family-Mulish);
  margin-top: 30px;
  max-width: 300px;
}

.no-results p:first-child {
  margin-bottom: 80px;
}

.no-results p:last-child {
  text-align: center;
}

.survey-results-all {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 620px;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.swrapper {
  margin-top: 0;
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 24px;
}

.OpenCloseResults {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;

  p {
    font-family: var(--font-family-Mulish);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-700);
  }
}

.rotate {
  transform: rotate(180deg);
}

.display-none {
  display: none;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25%       { transform: translateX(-10px); }
  75%       { transform: translateX(10px); }
}

.shake { animation: shake 0.5s ease; }

@media (max-width: 960px) {
  .survey {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    box-sizing: border-box;
    gap: 20px;
  }

  .survey-header {
    margin-top: 40px;
    margin-bottom: 40px;
    app-primary-button-component {
      display: none;
    }
  }

  .survey-answers {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 80px;

    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-top: -100px;
    height: auto;
  }

  .survey-headline {
    p:first-of-type {
      font-size: var(--font-size-48);
      line-height: 35px;
      margin-bottom: 24px;
      margin-top: 10px;
    }
  }

  .survey-answer-container {
    width: 100%;
    justify-content: center;
  }

  .survey-answer-list {
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: auto;
  }

  .survey-answer-list ::-webkit-scrollbar {
    display: none;
  }

  .swrapper {
    width: 100%;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
  }

  .survey-results {
    align-items: center;
    height: auto !important;
    width: 100%;
  }

  .survey-results-all {
    overflow-y: hidden;
    overflow-x: hidden;
    height: auto !important;
    max-height: none;
    margin-bottom: 50px;
  }

  .survey-results-all ::-webkit-scrollbar {
    display: none;
  }
  
  .OpenCloseResults {
    display: flex;
  }

  .completeSurvey {
    grid-column: 1;
  }
}

@media (max-width: 750px){
  .survey-answer-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 390px){
 .survey-answer-info{
  p{
    font-size:10px;
  }
 }

 .survey-results{
   p{
    font-size:12px;
  }
 }
} 
