.add-answer-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;

  font-family: var(--font-family-Mulish);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-700);
  line-height: 1;

  color: white;
  transition: color .2s ease, border-color .2s ease;
}

.add-answer-btn:hover {
  color: var(--background-color-medium-yellow);
  border-bottom-color: var(--background-color-medium-yellow);
}

.plus-icon {
  width: 16px;
  height: 16px;
  color: currentColor;
  transition: transform .2s ease;
}

.add-answer-btn:hover .plus-icon {
  transform: rotate(90deg);
}